:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --main: #7fad39;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--green);
}
::-webkit-scrollbar-track {
    background-color: var(--teal);
}

::-moz-scrollbar {
    width: 10px;
}
::-moz-scrollbar-thumb {
    background-color: var(--green);
}
::-moz-scrollbar-track {
    background-color: var(--teal);
}

::-ms-scrollbar {
    width: 10px;
}
::-ms-scrollbar-thumb {
    background-color: var(--green);
}
::-ms-scrollbar-track {
    background-color: var(--teal);
}

::-o-scrollbar {
    width: 10px;
}
::-o-scrollbar-thumb {
    background-color: var(--green);
}
::-o-scrollbar-track {
    background-color: var(--teal);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, 
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after { 
    color: #20c997;
    background-color: rgba(128, 128, 128, 0.404);
    padding: 5px;
    font-size: 34px !important;
    font-weight: 900;
    position: absolute;
    left: -13px !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    left: 13px !important;
}
.icon-rotate {
    transition: all 0.5s linear;
    transform: translate(-50% , 0px);
    -webkit-transform: translate(-50% , 0px);
    -moz-transform: translate(-50% , 0px);
    -ms-transform: translate(-50% , 0px);
    -o-transform: translate(-50% , 0px);
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
}
.up-icons:hover > .icon-rotate {
    transform: translate(-50% , -60px);
    -webkit-transform: translate(-50% , -60px);
    -moz-transform: translate(-50% , -60px);
    -ms-transform: translate(-50% , -60px);
    -o-transform: translate(-50% , -60px);
} 

.swiper.productsSwipper {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.swiper-button-next {
    right: 0px !important;
    top: 0px !important;
    transform: translateY(10px) !important;
    -webkit-transform: translateY(10px) !important;
    -moz-transform: translateY(10px) !important;
    -ms-transform: translateY(10px) !important;
    -o-transform: translateY(10px) !important;
}
.swiper-button-next::after {
    font-size: 12px !important;
    padding: 8px;
}
.swiper-button-prev::after {
    font-size: 12px !important;
    padding: 8px;
}
.swiper-button-prev {
    right: 10px !important;
    top: 0px !important;
    left: calc(100% - 90px) !important;
    transform: translateY(10px) !important;
    -webkit-transform: translateY(10px) !important;
    -moz-transform: translateY(10px) !important;
    -ms-transform: translateY(10px) !important;
    -o-transform: translateY(10px) !important;
}